:root {
    --color-primary: #6FFFE9;
    --color-secondary: #0B132B;
    --color-tertiary: #5BC0BE;
    --color-text: #f6f1f1;
    --color-white: #FFFFFF;
    --color-black: #060606;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-white);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-black);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: var(--color-primary);
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-white);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #6FFFE9;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-black);
    background-color: var(--color-tertiary);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-primary);
}

/**********************************jquery***********************************************/


/******************* Estilos para pantallas pequeñas (como celulares) */
@media (max-width: 600px) {

     /* Ajusta el título */
    .main-title {   

        font-size: 32px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    /* Ajusta el contenedor principal */
    .main-content {
        flex-direction: column;
        width: 100%;
    }

    /* Ajusta la caja de entrada */
    .input-name {
        width: 90%;
        font-size: 14px;
        padding: 8px;
    }

    /* Ajusta el botón */
    button {
        width: 100%;
        padding: 12px;
    }

    /* Ajusta la lista de resultados */
    .result-list {
        font-size: 18px;
        padding: 10px;
    }
}

/******************** Estilos para pantallas medianas (como tabletas) */
@media (min-width: 601px) and (max-width: 1024px) {
    /* Ajusta el título */
    .main-title {
        font-size: 40px;
    }

    /* Ajusta el contenedor principal */
    .main-content {
        flex-direction: column;
        width: 90%;
    }

    /* Ajusta la caja de entrada */
    .input-name {
        width: 80%;
        font-size: 16px;
        padding: 12px;
    }

    /* Ajusta el botón */
    button {
        width: 80%;
        padding: 15px;
    }

    /* Ajusta la lista de resultados */
    .result-list {
        font-size: 20px;
    }
}

/* Estilos para pantallas grandes (escritorio) */
@media (min-width: 1025px) {
    .main-title {
        font-size: 48px;
    }

    .input-name {
        width: 60%;
        font-size: 18px;
        padding: 14px;
    }

    button {
        padding: 15px 30px;
    }
}





